<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel hoverable">
                <div class="card-title center-align">
                    <h4>{{title}}</h4>
                </div>
                <form action={{action}} method="POST" {{#if signup}}enctype="multipart/form-data"{{else}}enctype="application/x-www-form-urlencoded"{{/if}}>
                    {{#if signup}}
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="text" name="name" id="name">
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Avatar</span>
                            <input id="avatar" name="avatar" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {{/if}}
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="email" name="email" id="email">
                            <label for="email">e-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="password" name="password" id="password" autocomplete="off">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <button type="submit" class="btn waves-effect waves-light right indigo accent-3">Submit
                                <i class="material-icons right">send</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#if error}}
<script>
    window.addEventListener('load', () => {
        let toastHTML = '<span>{{error}}</span><button class="btn-flat toast-action white-text">Ok</button>';
        M.toast({ html: toastHTML, classes: 'red animated shake' });
    });
</script>
{{/if}}