<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel hoverable">
                <div class="card-title center-align">
                    <h4>New room!</h4>
                </div>
                <div class="row">
                    <form id='new-room-form' action="/rooms/new" method="POST" enctype="multipart/form-data" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="My room" id="new-room-name" name="name" type="text"
                                    class="validate">
                                <label for="disabled">Room name</label>
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn indigo accent-3">
                                <span>Cover page</span>
                                <input id="front" name="front" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="All right, this is my room." id="new-room-description"
                                    name="description" type="text" class="validate">
                                <label for="disabled">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12">
                                <button type="submit" class="btn waves-effect waves-light right indigo accent-3">Create room
                                    <i class="material-icons right">create</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if roomError}}
<script>
    window.addEventListener('load', () => {
        let toastHTML = '<span>{{roomError}}</span><button class="btn-flat toast-action white-text">Ok</button>';
        M.toast({ html: toastHTML, classes: 'red animated shake' });
    });
</script>
{{/if}}