<div class="parallax-container">
    {{#if userData.coverUrl}}
    <div class="parallax"><img src="{{userData.coverUrl}}"></div>
    {{else}}
    <div class="parallax"><img src="/default/userCover.png"></div>
    {{/if}}
</div>